.container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
body{
  background-color:#000;
}
#overlay {
  position: absolute; 
  bottom: 100px;
  margin-left: auto;
  color: #FFF; 
  text-align: left;
  font-size: 15px;
  font-family: "Courier New", Courier;
  /*font-weight: bold;*/
  /*background-color: rgba(221, 221, 221, 0.3);*/
  width: auto;
  z-index: 2147483647;
}

#video {
  z-index: 1;
  width: 100%;
  height: auto;
  max-height: 100%;
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

p {
    text-transform: capitalize;
    display: inline ;
  }